@use "sass:color";

@use "@material/theme/color-palette";

@use "../_variables.scss";

// Svelte Colors! (Dark Theme)
@use "@material/theme/index" as theme with (
  $primary: var(--roulette-cloth-text),
  $secondary: color.scale(#676778, $whiteness: -10%),
  $surface: color.adjust(color-palette.$grey-900, $blue: +4),
  $background: #000,
  $error: var(--roulette-error) //color-palette.$red-700
);

html,
body {
  background-color: var(--roulette-cloth);
  color: theme.$on-surface;
  font-family: var(--mdc-typography-button-font-family, var(--mdc-typography-font-family, Roboto, sans-serif));
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--roulette-cloth-text);
}

.mdc-button.mdc-button--raised:not(:disabled),
.mdc-button.mdc-button--raised {
  color: var(--roulette-cloth);
  background-color: var(--roulette-cloth-text);
}

.timba-small-button {
  font-size: small;
}

a {
  color: #40b3ff;
}
a:visited {
  color: color.scale(#40b3ff, $lightness: -35%);
}
