/* body {
  height: 100vh;
} */

.display-vertical {
  display: flex;
  flex-direction: column;
}

.button-container {
  justify-content: space-evenly;
  width: 100%;
}

/* css to let buttons be displayed as a gallery, with changing button count per row for different viewport width sizes */
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 0.5rem;

  .mdc-button {
    height: 4rem;
  }
}

.mdc-tab-bar {
  margin-bottom: 1rem;
}

.mdc-button {
  text-align: center;
}

/* .editor-container {
  margin: 0.5rem;
  gap: 0.5rem;
} */
