/* body {
  height: 100vh;
} */

.display-vertical {
  display: flex;
  flex-direction: column;
}

/* .button-container {
  justify-content: space-evenly;
  width: 100%;
  height: 100dvh;
}

.editor-container {
  margin: 0.5rem;
  gap: 0.5rem;
} */
